<%- include('partials/header.ejs'); -%>

<div class="box">
    <h2><%= book.title %> - by <%= book.author %></h2>
    <img src="<%= book.cover %>" />
    <p>Date read: <%= book.date %> | My Rating: <%= book.rating %>/10</p>
    <p><%= book.description %></p>
    <p><%= book.notes %></p>
    <form class="" action="/" method="post">
      <button type="submit">Return to home page</button>
    </form>
</div>

<%- include('partials/footer.ejs'); -%>