<%- include('partials/header.ejs'); -%>

<div class="title">
  <h1>
  Books in the Collection
</h1>
</div>
<div class="container">
  <% book.forEach(function(i) { %>
    <div class="box-item">
      <h3><%= i.title %><br></h3>
      <p>by <%= i.author %> | ISBN: <b><%= i.isbn %></b><br>
        Date read: <%= i.date %> | My Rating: <b><%= i.rating %>/10</b></p>
      <div class="feature-box">
        <img class="desc-img" src="<%= i.cover %>" />
        <p class="desc"> <%= i.description %></p><br>
      </div>
      <div>
        <form class="view-btn" action="/book" method="post">
          <button type="submit" name="view" value="<%= i.id %>">Read my notes</button><br><br> or go to the <a href="https://www.amazon.com/s?k=<%= i.isbn %>" target="_blank">Amazon page</a> for more details and reviews.
        </form>
      </div>   
      
  </div>
  <% }); %>
</div>

<div class="button">
  <form class="" action="/new" method="post">
    <button type="submit">Add new title</button>
  </form>
</div>
  
<%- include('partials/footer.ejs'); -%>