<%- include('partials/header.ejs'); -%>

<h2>
  Books in collection
</h2>

<div class="box">
  <% book.forEach(function(i) { %>
    <h3><%= i.title %> - by <%= i.author %> | ISBN: <%= i.isbn %></h3>
    <img src="<%= i.cover %>" />
    <p>Date read: <%= i.date %> | My Rating: <%= i.rating %>/10</p>
    <p><%= i.description %></p>
    
    <form class="" action="/book" method="post">
      <button type="submit" name="view" value="<%= i.id %>">Read my notes</button> or go to the <a href="https://www.amazon.com/s?k=<%= i.isbn %>" target="_blank">Amazon page</a> for more details and reviews.
    </form>
  <% }); %>
</div>

<div class="box">
  <form class="" action="/new" method="post">
    <button type="submit">Add new title</button>
  </form>
</div>
  
<%- include('partials/footer.ejs'); -%>