<%- include('partials/header.ejs'); -%>

<h2>
  Add New Book to Collection
</h2>
<div class="box">
  <form class="" action="/add" method="post">
    
    <p class="form-label">ISBN</p>
    <input type="text" name="isbn" placeholder="<%= locals.error ? error :  'eg. 9781926801131'%>" required/>

    <p class="form-label">Rating (Out of 10)</p>
    <input type="text" name="rating" placeholder="<%= locals.error ? error :  'eg. 7'%>" required/>

    <p class="form-label">Date Read</p>
    <input type="date" name="date" placeholder="<%= locals.error ? error :  'eg. 15-02-2009'%>" required/> 

    <p class="form-label">Short Description</p>
    <textarea name="description" placeholder="<%= locals.error ? error :  'About 250 characters about your thoughts on the book'%>" rows="7" cols="80" maxlength="250" required></textarea>

    <p class="form-label">Notes</p>
    <textarea name="notes" placeholder="<%= locals.error ? error :  'Full notes (Type as much as you want about the book)'%>" rows="14" cols="80" required></textarea>
    <br>
    <button type="submit">Save</button>
  </form>
</div>
  
<%- include('partials/footer.ejs'); -%>