<%- include('partials/header.ejs'); -%>

<div class="title">
  <h1>
    Add New Book to Collection
  </h1>
</div>
<div class="container-form">
  <form class="" action="/add" method="post">
    <div class="field-small">
      <p class="form-label" id="label-isbn">ISBN</p>
      <input type="text" name="isbn" placeholder="<%= locals.error ? error :  'eg. 9781926801131'%>" required/>
    </div>
    <div class="field-small">
      <p class="form-label" id="label-author">Author</p>
      <input type="text" name="author" placeholder="<%= locals.error ? error :  'eg. J.K. Rowling'%>" required/>
    </div>
    <div class="field-small">
      <p class="form-label" id="label-rating">Rating (Out of 10)</p>
      <input type="text" name="rating" placeholder="<%= locals.error ? error :  'eg. 7'%>" required/>
    </div>
    <div class="field-small">
      <p class="form-label" id="label-date">Date Read</p>
      <input type="date" name="date" placeholder="<%= locals.error ? error :  'eg. 15-02-2009'%>" required/> 
    </div>
    <div class="field-full">
      <p class="form-label" id="label-desc">Short Description</p>
      <textarea name="description" placeholder="<%= locals.error ? error :  'About 250 characters about your thoughts on the book'%>" rows="7" cols="80" maxlength="250" required></textarea>
    </div>
    <div class="field-full">
      <p class="form-label" id="label-notes">Notes</p>
      <textarea name="notes" placeholder="<%= locals.error ? error :  'Full notes (Type as much as you want about the book)'%>" rows="14" cols="80" required></textarea>
    </div>
    <button type="submit">Save</button>
  </form>
  <form class="" action="/change" method="post">
    <button type="submit" name="change" value="return">Return to home page</button>
  </form>
</div>

  
<%- include('partials/footer.ejs'); -%>